@using Microsoft.AspNet.Identity;
@using DIU_CPC_BlueDivision.DifferentLayout_Database;

<div class="container">
    @{
        string userId = "", secureCode = "", joinSem = "";
        userId = User.Identity.GetUserId();

        if (!string.IsNullOrEmpty(userId))
        {
            AspNetUsersBusinessLayer aspNetUsersBusinessLayer = new AspNetUsersBusinessLayer();
            secureCode = aspNetUsersBusinessLayer.GetSecureCode(userId);
            joinSem = aspNetUsersBusinessLayer.GetJoinSemester(userId);
        }
        if (secureCode != "1234_U1")
        {
            <br /><br /><br /><br />
            <div class="row" align="center">
                <div class="col-xs-6 col-sm-3 col-md-2 companyInnerImage1 col-md-offset-2">
                    <a href="@Url.Action("Index", "Problems", new { id_Or_SheetName = joinSem})">
                        <img src="~/Image/HomePageButton.png" style="border: 6px solid; border-color: #F5F3F1;" class="img-responsive imgHover" />
                        <h3>Blue Sheet</h3>
                    </a>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 companyInnerImage2">
                    <a href="#">
                        <img src="~/Image/HomePageButton.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
                        <h3>Personal Sheet Tracker - 1</h3>
                    </a>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 companyInnerImage3">
                    <a href="#">
                        <img src="~/Image/HomePageButton.png" style="border: 6px solid; border-color: #F5F3F1" class="img-responsive imgHover" />
                        <h3>Personal Sheet Tracker - 2</h3>
                    </a>
                    <br />
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 companyInnerImage4">
                    <a href="#">
                        <img src="~/Image/HomePageButton.png" style="border: 6px solid; border-color: #F5F3F1;" class="img-responsive imgHover" />
                        <h3>Daily Activities</h3>
                    </a>
                    <br />
                </div>
            </div>
        }
    }

    <br /><br />

    <div class="jumbotron">
        <h1>Diu CPC Club</h1>
        <p class="lead">
            Computer And Programming Club Of Daffodil International University
        </p>
        <p><a target="_blank" href="http://cpc.daffodilvarsity.edu.bd/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Diu CPC Club</h2>
            <p>
                Our today's session was on Internet of Things (IOT). Today we have among us Mr. Ashiqul Islam Akhand, Enterprise Architect, Senior Project Manager, DataSoft Systems Bangladesh Limited, Dr. Sheak Rashed Haider Noori, Associated Professor, and Associated Head, Department of Computer Science and Engineering.
            </p>
            <p><a class="btn btn-default" target="_blank" href="http://cpc.daffodilvarsity.edu.bd/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Diu CPC Club</h2>
            <p>Our today's session was on Internet of Things (IOT). Today we have among us Mr. Ashiqul Islam Akhand, Enterprise Architect, Senior Project Manager, DataSoft Systems Bangladesh Limited, Dr. Sheak Rashed Haider Noori, Associated Professor, and Associated Head, Department of Computer Science and Engineering.</p>
            <p><a class="btn btn-default" target="_blank" href="http://cpc.daffodilvarsity.edu.bd/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Diu CPC Club</h2>
            <p>Our today's session was on Internet of Things (IOT). Today we have among us Mr. Ashiqul Islam Akhand, Enterprise Architect, Senior Project Manager, DataSoft Systems Bangladesh Limited, Dr. Sheak Rashed Haider Noori, Associated Professor, and Associated Head, Department of Computer Science and Engineering.</p>
            <p><a class="btn btn-default" target="_blank" href="http://cpc.daffodilvarsity.edu.bd/">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.companyInnerImage1').mouseover(function () {
        $('.companyInnerImage1 img').addClass('animated flipInY');
    });
    $('.companyInnerImage1').mouseout(function () {
        $('.companyInnerImage1 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage2').mouseover(function () {
        $('.companyInnerImage2 img').addClass('animated flipInY');
    });
    $('.companyInnerImage2').mouseout(function () {
        $('.companyInnerImage2 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage3').mouseover(function () {
        $('.companyInnerImage3 img').addClass('animated flipInY');
    });
    $('.companyInnerImage3').mouseout(function () {
        $('.companyInnerImage3 img').removeClass('animated flipInY');
    });

    $('.companyInnerImage4').mouseover(function () {
        $('.companyInnerImage4 img').addClass('animated flipInY');
    });
    $('.companyInnerImage4').mouseout(function () {
        $('.companyInnerImage4 img').removeClass('animated flipInY');
    });
</script>