@{
    ViewBag.Title = "Home Page";
}
<script src="~/CSS_And_Script_File/jQuery/compressed/jquery-3.3.1.min.js"></script>
<script src="~/CSS_And_Script_File/Ajax/jquery.unobtrusive-ajax.min.js"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<button id="button1" class="btn btn-success">click me</button>


<script>
    $(document).ready(function () {
        $('#button1').click(function () {
            $.ajax({
                type: 'GET',
                url: "http://baseproject.redwan.pro/api/values",
                dataType: 'jsonp',          // json ta nibe na.. jsonp dite hobe. er jonno https://www.youtube.com/watch?v=WKZLVqwpoiE&t=178s ai tutorial ta dekho.
                success: function (data) {
                    alert(data);
                },
                error: function (data) {
                    alert('error');
                }
            })
        });
    });
</script>
