@model System.Data.DataTable
@using System.Data


@{
    string appPath = "";
    appPath = string.Format("{0}", Request.Url.AbsoluteUri);
    string[] arr = appPath.Split('=');
}

<br /><br /><br />
      <div>
          @{
              if (Model != null)
              {
                  <div align="center">
                      <p style="font-size:30px; color:orange; font-family:Impact">Problem Solving Ranking - " @arr[1] "</p>
                      <hr style="border: 3px solid; color: #F5F3F1">
                  </div>
                  <div class="col-md-8 col-md-offset-2">
                      <div>
                          <h4>Select Number of Rows</h4>
                          <div class="form-group">
                              <select name="state" id="maxRows" class="form-control" style="width:150px;">
                                  <option value="5000">Show All</option>
                                  <option value="5">5</option>
                                  <option value="10">10</option>
                                  <option value="15">15</option>
                                  <option value="20">20</option>
                                  <option value="50">50</option>
                                  <option value="75">75</option>
                                  <option value="100">100</option>
                              </select>
                          </div>
                      </div>
                      <div style="overflow-x:auto;">
                          <table class="table table-hover text-center fixed" id="mytable" style="font-size:18px">
                              <thead>
                                  <tr class="success" style="font-weight: bold;">
                                      @foreach (System.Data.DataColumn col in Model.Columns)
                                      {
                                          <td>
                                              @col.Caption
                                          </td>
                                      }
                                  </tr>
                              </thead>
                              <tbody>
                                  @foreach (System.Data.DataRow row in Model.Rows)
                                  {
                                      <tr>
                                          @foreach (var cell in row.ItemArray)
                                          {
                                              if (cell != null)
                                              {
                                                  <td>
                                                      @cell.ToString()
                                                  </td>
                                              }
                                              else
                                              {
                                                  <td></td>
                                              }
                                          }
                                      </tr>

                                  }
                              </tbody>
                          </table>
                      </div>
                      <br />
                      <div class="pagination-container" align="center">
                          <nav>
                              <ul class="pagination" id="pagination"></ul>
                          </nav>
                      </div>
                  </div>
              }
          }
      </div>

<script type="text/javascript">
    var table = '#mytable'
    $('#maxRows').on('change', function () {
        $('.pagination').html('');
        var trnum = 0
        var maxRows = parseInt($(this).val())
        var totalRows = $(table + ' tbody tr').length

        // hide column 5 select korle 5 ta row show korbe
        $(table + ' tr:gt(0)').each(function () {
            trnum++
            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }
        })

        // show pagination
        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows);
            //$('.pagination').append('<li><a href="#">&laquo;</a></li>').show();
            for (var i = 1; i <= pagenum;) {
                $('.pagination').append('<li data-page="' + i + '">\<span>' + i++ + '<span class="sr-only">(current)</span></span>\</li>').show()
            }
            //$('.pagination').append('<li><a href="#">&raquo;</a></li>').show();
        }
        // first value ta active rakhe always
        $('.pagination li:first-child').addClass('active')

        // page a click korar pore column kore show kore
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active');
            $(table + ' tr:gt(0)').each(function () {
                trIndex++;
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            })
        })
    })
    // get serial no
    $(function () {
        $('table tr:eq(0)').prepend('<td class="text-center">Rank</td>')
        var id = 0;
        $('table tr:gt(0)').each(function () {
            id++
            $(this).prepend('<td style="font-size:19px">' + id + '</td>')
        })
    })
</script>