
@{
                /**/

                ViewBag.Title = "Index";
}

<style>
    #home {
        background: url(../Image/macbook-pro.jpg) no-repeat center fixed;
        display: table;
        height: 100%;
        width: 100%;
        position: relative;
        background-size: cover;
    }

    .landing-text {
        display: table-cell;
        /*text-align: center;*/
        vertical-align: middle;
    }

    .imageWeb {
        transition: all 0.2s ease;
    }

        .imageWeb:hover {
            transform: scale(1.03);
        }
</style>
<br /><br />
<div class="container">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="tz-gallery">
            <div class="row">
                <a class="lightbox">
                    <img src="../Image/computer.jpg" class="img-responsive" style="border-radius: 10px;" />
                </a>
            </div>
        </div>
        <br /><br />
    </div>
    <div class="row" align="center">
        <div class="col-sm-12">
            <p style="font-family: Impact; font-size: 30px;">A Swedish IT company with global skills</p>
            <h4 style="line-height: 130%">
                We have created our own model for global IT deliveries, which we have developed and honed for over ten years. Our methodology for delivery and cooperation is based on SCRUM and our project tool of choice is Jira.
                When you contact us at Indpro, we always begin by discussing your needs. This is what our process looks like, step by step:
            </h4>
        </div>
    </div>
</div>
<br />
<br />
<div id="home">
    <div class="landing-text">
        <div class="container" align="center">
            <br />
            <br />
            <div class="row" style="color: orange">
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/Wordpress_Blue_logo.png" class="img-responsive" style="max-height: 150px; min-height: 100px" />
                    <h3>Wordpress</h3>
                </div>
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/MicrosoftNet_Blue_logo.png" class="img-responsive" style="max-height: 150px; min-height: 120px" />
                    <h3>.Net</h3>
                </div>
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/Drupal_Blue_logo.png" class="img-responsive" style="max-height: 130px; min-height: 100px" />
                    <h3>Drupal</h3>
                </div>
            </div>
            <br />
            <div class="row" style="color: orange">
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/Bootstrap_Blue_logo.png" class="img-responsive" style="max-height: 150px; min-height: 100px" />
                    <h3>Bootstrap</h3>
                </div>
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/Html_Blue_logo.png" class="img-responsive" style="max-height: 150px; min-height: 100px" />
                    <h3>Html</h3>
                </div>
                <div class=" col-xs-4 col-sm-4 col-md-4">
                    <img src="../Image/PHP_Blue_logo.png" class="img-responsive" style="max-height: 150px; min-height: 100px" />
                    <h3>Php</h3>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<br />
<br />
<br />


<div class="container">
    <div class="row text-center">
        <p style="font-family: Impact; font-size: 30px;"><b>This is how it works</b></p>
        <h4 style="line-height: 130%">
            We have created our own model for global IT deliveries, which we have
            developed and honed for over ten years. Our methodology for delivery and
            cooperation is based on SCRUM and our project tool of choice is Jira.
            When you contact us at Indpro, we always begin by discussing your needs.
            This is what our process looks like, step by step:

        </h4>
    </div>
    <br />
    <br />
    <div class="row text-center">
        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../Image/ecommerce_solutions.png" style="max-height:192px" />

                <div class="caption">
                    <h3>E-commerce Solution</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh
                        ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../Image/mobile-development.png" style="max-height:192px" />

                <div class="caption">
                    <h3>Mobile Development</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh
                        ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../Image/web-development.png" style="max-height:192px" />

                <div class="caption">
                    <h3>Web Development</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh
                        ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-3">
            <div class="thumbnail">
                <img class="img-responsive" src="../Image/iphone_mobile.png" style="max-height:192px" />

                <div class="caption">
                    <h3>IOS Development</h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh
                        ultricies vehicula ut id elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<hr style="border: 5px solid; color: #F5F3F1">
<br />
<br />
<div class="container">
    <div class="row" align="center">
        <div class="col-sm-8 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-3">
            <a href="@Url.Action("Index", "HelpWithADefinedProject")" class="btn btn-default btn-block" style="font-family: Arial; font-size: 20px; color: orange; border-radius: 25px">Help with a defined project?</a>
        </div>
        <br />
        <br />
        <br />
        <h4 style="line-height: 130%">Feel free to get in touch before you’ve made up your mind on that. We’ll look over your needs together, and then we’ll propose a solution that’s adjusted to your individual needs: whether it’s a defined project, or a dedicated team working exclusively for you.</h4>
        <br />
        <h4 style="line-height: 130%">A defined project is often a good start. Partly because it allows us to get to know each other, but also because it becomes a test, allowing us both to validate that our partnership is running smoothly.</h4>
    </div>
</div>

<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>

