@model IEnumerable<Software_Company_Website.Models.OurTeam>

@{
    ViewBag.Title = "Index";
}

<link href="~/jquery_Bootstrap_SweetAlert_IHover/IHover/ihover.css" rel="stylesheet" />
<br /><br /><br />
<div class="container" align="center">
    <div class="well text-center">
        <b style="font-size:32px; color:orange">
            Global skills with local touch</b>
        <br />
        <h3>
            Our employees are our most valuable assets. Nomaa has over 80 employees, skilled in various technologies and platforms.
        </h3>
    </div>
    <br />
    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-bottom:30px">
            <div class="ih-item square effect6 from_top_and_bottom" style="border-radius:120px">
                <a>
                    <div class="img">
                        @{
                            if (item.EmployeeImage != null)
                            {
                                var imgSrc = "";
                                var base64 = Convert.ToBase64String(item.EmployeeImage);
                                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                                <img src="@imgSrc" alt="did not load" style="height: 213px; width: 312px" class="img-responsive" /> @*height: 150px; width: 240px*@
                            }
                            else
                            {
                                <img src="~/Image/no-image.jpg" alt="did not load" style="height: 213px; width: 312px" class="img-responsive" />
                            }
                        }
                    </div>
                    
                    <div class="info">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <br /><br />
                        <h4 style="color:white">
                            <span style="color:orange">Designation: </span> @Html.DisplayFor(modelItem => item.Designation) <br />
                            <span style="color:orange">WorkingSince: </span> @Html.DisplayFor(modelItem => item.WorkingSince)
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    }
</div>