
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    var arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    function isEven(value, index, array) {
        if (value % 2 == 0) {
            return true;
        }
        else return false;
    }

    function isOdd(value, index, array) {
        return value % 2 != 0;
    }

    var res = arr.filter(isEven);
    var res1 = arr.filter(isOdd);

    document.write(res);
    document.write("<br>");
    document.write(res1);

    var str = ['red', 'green', 'red']
    var result = str.filter(function (value, index, array) {
        return array.indexOf(value) == index;
    })
    document.write("<br>");
    document.write(result);

</script>

