
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript">
    var i = (function () {
        var c = 0;
        return function () {
            return ++c;
        }
    })();
</script>

<input type="button" value="click me" onclick="alert(i())"/>
