
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        bal
        @RenderBody()
    </div>
</body>
</html>