@{
    ViewBag.Title = "Contact";
}
<br /><br /><br /><br /><br />
<div class="container">
    <div class="text-center">
        <h3>Redwan Hossain</h3>

        <address>
            contact@redwan.pro<br />
            Mohammadpur, Dhaka<br />
            Phone: 01767409798
        </address>

        <address>
            <strong>Support:</strong>   <a href="support@redwan.pro">support@redwan.pro</a><br />
        </address>
    </div>
</div>
