
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<input type="button" value="click me" onmouseover="this.style.background = 'red'; this.style.color='yellow'"
       onmouseout="this.style.background = 'black'; this.style.color='white'" />
