<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <link href="style.css" rel="stylesheet" />

    <script src="AngularJS/angular.js"></script>
    <script src="AngularJS/angular-local-storage.min.js"></script>
    <script src="AngularJS/authInterceptorService.js"></script>
    <script src="AngularJS/change-password.js"></script>


</head>
<body class="main" ng-app="changePasswordApp">
    <div class="container-fluid" ng-controller="changePasswordController">
        <div class="paddingT50">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="center heading1">
                        Change Password
                    </div>
                    <div class="form_Main">
                        <div class="form-group">
                            <label class="label1" for="email">Old Password</label>
                            <input ng-model="Password.OldPassword" id="email"
                                   type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="password">New Password</label>
                            <input ng-model="Password.NewPassword" id="password"
                                   type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="label1" for="password">Confirm Password</label>
                            <input ng-model="Password.ConfirmPassword" id="password"
                                   type="password" class="form-control" />
                        </div>
                        <div class="form-group">
                            <div style="padding-top:10px;">
                                <input ng-click="ChangePassword()" ng-disabled="isProcessing"
                                       type="button" class="btn btn-block btn-success"
                                       value="{{SubmitBtnText}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
