@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><button id="ShowReportButtonId" class="btn btn-primary btn-lg">Show Report</button></p>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
    $(document).ready(function () {
        $('#ShowReportButtonId').click(function () {
            ReportManager.LoadReport();
        })
    });

    var ReportManager = {
        LoadReport: function () {
            var serviceUrl = "../Employees/EmployeeReport";
            ReportManager.GetReport(serviceUrl);
        },
        GetReport: function (serviceUrl) {
            $.ajax({
                url: serviceUrl,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    //alert('Hello');
                    //window.open('../Report/ReportViewer.aspx', '_newtab');
                    window.open('../Report/WebForm1.aspx', '_newtab');
                },
                error: function (ex) {
                    alert('Error');
                }
            });
        } 
    }
</script>