
@{
    ViewBag.Title = "AssignRole";
}

<h2>Assign Role</h2>

@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6">
            <label class="control-label">User Name</label>
            <input type="text" name="txtUserName" class="form-control"  />
        </div>
        <div class="col-md-6">
            <label class="control-label">Select Role</label>
            @Html.DropDownList("RoleName",(IEnumerable<SelectListItem>)ViewBag.Roles,"Select...")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </div>
}