
@{
    ViewBag.Title = "Summernote";
}



<h2>Summernote</h2>

<!--begin::Portlet-->
<div class="k-portlet">
    <div class="k-portlet__head">
        <div class="k-portlet__head-label">
            <h3 class="k-portlet__head-title">Summernote Examples</h3>
        </div>
    </div>

    <!--begin::Form-->
    <form class="k-form k-form--label-right">
        <div class="k-portlet__body">
            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">Default Demo</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <div class="summernote" id="m_summernote_1"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-lg-3 col-sm-12">Modal Demos</label>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <a href="" class="btn btn-success" data-toggle="modal" data-target="#m_summernote_modal">Launch modal examples</a>
                </div>
            </div>
        </div>
        <div class="row">
                    <div class="col-lg-9 ml-lg-auto">
                        <button type="reset" class="btn btn-brand">Submit</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
    </form>

    <!--end::Form-->
</div>

<!--end::Portlet-->
