
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    var myScript = "Blue blue blue";
    var res = myScript.replace("blue", "green");
    alert(res);
    //output: Blue green blue

    //var myScript = "Blue blue blue";
    //var res = myScript.replace(/blue/g", "green");
    //alert(res);
    //output: Blue green green

    //var myScript = "Blue blue blue";
    //var res = myScript.replace(/blue/gi, "green");
    //alert(res);
    //output: green green green
</script>

