<%@ Master Language="C#" AutoEventWireup="true" CodeFile="BCWeb.master.cs" Inherits="BCWeb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Bestower Corporation</title>
        <link rel="stylesheet" type="text/css" href="Themes/drupal.css" />
    <link REL="icon" HREF="./LIB/Images/bc_logo_final.png" TYPE="image/gif">   

    <link href="Themes/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    
<body>
    <form id="form1" runat="server">
    <div>
          
        <table width="100%">
        <tr><td width="100%">
         <table border="0" cellpadding="0" bgcolor="#ffffff" width="100%" summary="Main Menu">
	        <!-- first row of the header -->
	        <tr>
		        <td  nowrap="nowrap" align="left" valign="middle" width="2%" rowspan="2">
		        <img src="LIB/Images/bc_logo_final.png"  alt="Bestower Corporation" border="0" height="80" />
		        </td>
		        
		        <td valign="middle" width="98%" nowrap="nowrap">
		           
		           
                    <span id="title">
		              <div style="display:block; margin-bottom:4px;">Bestower Corporation&trade;</div>
		              <div style="letter-spacing:2px; font-size:10px;">Committed to deliver supreme-quality products and services to our customers!</div>
	                </span>
	                   		        
		        </td>
        		        
		        
                <td align="right" width="2%" valign="bottom" nowrap="nowrap"> 
                    <!-- save for future (PAYPAL)-->
                    &nbsp;
	             </td>
		        
		    </tr>
		    <!-- second row of the header --->
			 
			 <tr>
		        <td colspan="2" align="right" valign="top" wrap="yes">
		        
		        		   <asp:Label ID="lblHeader" Runat="server"></asp:Label>     
		        
		        </td>
			 </tr>

        </table>
        </td></tr>
        <tr><td width="100%">
        <!-- where apu will place our content-->
        <asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
        </asp:contentplaceholder>
        </td></tr>
        <tr><td width="100%">
          <table border="0" cellspacing="0" cellpadding="0" width="100%" summary="footer of the page" align="center">
  	       

	        <tr>
		        <td>
			        <table border="0" width="100%" cellspacing="0" summary="CpsWeb Footer" ID="Table1">
				        <tr class="footerbannercell">
					        <td align="center" class="copyright">
					        <asp:Label ID="lblFooter" Runat="server"></asp:Label>						        
						        
					        </td>
				        </tr>
			        </table>
		        </td>
	        </tr>
	        <tr>
		        <td align="center"><span class="copyright">&copy; 2014 Bestower Corporation</span></td>
	        </tr>	        
        </table>
        </td>
        </tr>
        </table>
        
       
    </div>
    </form>
</body>
</html>
