
@{
    ViewBag.Title = "A_25_AddorRemoveClass";
}

<h2>A_25_AddorRemoveClass</h2>


<style>
    .textBoxStyle {
        background-color: green;
        color: white;
    }
</style>

<table>
    <tr>
        <td>First Name</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            <select>
                <option value="select">Please Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" /></td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[type="text"]').each(function () {
            $(this).focus(function () {
                //$(this).addClass('textBoxStyle');
                $(this).toggleClass('textBoxStyle');
            });

            $(this).blur(function () {
                //$(this).removeClass('textBoxStyle');
                $(this).toggleClass('textBoxStyle');
            });
        });
    });
</script>