
@{
    ViewBag.Title = "A_Array_Push_Join_Substr_Map";
}

<h2>A_Array_Push_Join_Substr_Map</h2>

<ul class="ulclass">
    <li>US</li>
    <li>India</li>
    <li>UK</li>
    <li>Canada</li>
    <li>Australia</li>
</ul>

<script>
    $(document).ready(function () {
        var arr = [];
        var arr1 = "";
        $('.ulclass li').each(function (index, element) {
            arr.push($(element).text());
            arr1 += $(element).text() + '|';
        });
        arr1 = arr1.substr(0, arr1.length - 1);
        alert(arr);
        alert(arr1);

        var m = $('.ulclass li').map(function (index, element) {
            return $(element).text();
        }).get().join(' | ');
        alert(m);

    });
</script>