<div class="jumbotron" align="center">
    <h1>Nomaa IT-FARM</h1>
    <p class="lead">We are a Swedish company with over twelve years of experience in IT delivery. We are proud to list award winning Swedish web productions amongst our client projects, such as the e-commerce success MatHem.se, and the communication tool for preschools, Förskoleappen.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row" align="center">
    <div class="col-md-4">
        <h2>Nomaa IT-FARM</h2>
        <p>
            We are a Swedish company with over twelve years of experience in IT delivery. We are proud to list award winning Swedish web productions amongst our client projects, such as the e-commerce success MatHem.se, and the communication tool for preschools, Förskoleappen.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nomaa IT-FARM</h2>
        <p>
            We are a Swedish company with over twelve years of experience in IT delivery. We are proud to list award winning Swedish web productions amongst our client projects, such as the e-commerce success MatHem.se, and the communication tool for preschools, Förskoleappen.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nomaa IT-FARM</h2>
        <p>
            We are a Swedish company with over twelve years of experience in IT delivery. We are proud to list award winning Swedish web productions amongst our client projects, such as the e-commerce success MatHem.se, and the communication tool for preschools, Förskoleappen.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
