@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center mb-3">
    <div class="col-12">
        <h1><b>OUR PRODUCT</b></h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4">
        <img src="~/Images/star.png" style="max-height:170px" class="img-fluid" />
        <h3><b>SEO</b></h3>
        <p><b>It is a long established fact that a reder will be distracted by the</b></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/star.png" style="max-height:170px" class="img-fluid" />
        <h3><b>BRANDING</b></h3>
        <p><b>It is a long established fact that a reder will be distracted by the</b></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/star.png" style="max-height:170px" class="img-fluid" />
        <h3><b>LOGO</b></h3>
        <p><b>It is a long established fact that a reder will be distracted by the</b></p>
    </div>
</div>

<div class="row mt-5">
    <h5 style="border: 2px solid black" class="p-3"><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
</div>
