@model IEnumerable<Googlemaps.Models.SchoolInfo>

    @{
        ViewBag.Title = "GetLocation";
        IEnumerable< Googlemaps.Models.SchoolInfo> schoolList = (IEnumerable < Googlemaps.Models.SchoolInfo > )TempData["data"];
    }

    <h2>GetLocation</h2>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"> </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markermanager/src/markermanager.js">

   var map;
   var mgr;
   function initialize() {
        var myOptions = {
            zoom: 2,
            center: new google.maps.LatLng(0, 0),
            mapTypeId: google.maps.MapTypeId.HYBRID
        };
        map = new google.maps.Map(document.getElementById("map"));
        mgr = new MarkerManager(map);
        var infoWindow = new google.maps.InfoWindow({ content: "contents" });
        google.maps.event.addListener(mgr, 'loaded', function () {
            @foreach (var place in @Model) {
                <text>
                var marker = new google.maps.Marker({
                    @*position: new google.maps.LatLng(@place.Geolocation, @place.Longitude),
                    html: "@place.Link"*@
                });

                google.maps.event.addListener(marker, "click", function () {
				    infoWindow.setContent(this.html);
				    infoWindow.open(map, this);
			    });

                mgr.addMarker(marker, 0);
                </text>
            }
            mgr.refresh();
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div id="map"></div>
