
@{
    /**/

    ViewBag.Title = "Index";
}

<br /><br /><br />
<p align="center" style="font-size:30px; color:orange; font-family:Impact">Registration For Admin And Student</p>
<hr style="border: 4px solid; color: #F5F3F1">
<br />
<div id="accordion_pic" class="panel-group">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#panelBodyAdmin" data-toggle="collapse" data-parent="#accordion_pic">
                    <b>Registration For Admin</b>
                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                </a>
            </div>
        </div>
        <div id="panelBodyAdmin" class="collapse in panel-collapse">
            <div class="panel-body">
                <div style="background-color: #E8EAED;">
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 col-lg-offset-1 col-xs-offset-1">
                                <div class="well h3 text-center">
                                    <span>BlueSheet</span>
                                </div>
                                <div id="accordion_picAdmin" class="panel-group">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#panelBodyTwo2Admin" data-toggle="collapse" data-parent="#accordion_picAdmin">
                                                    <b>Help Line </b>(+880123456789)
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="panelBodyTwo2Admin" class="collapse in panel-collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#panelBodyOne4Admin" data-toggle="collapse" data-parent="#accordion_picAdmin">
                                                    <b>How To Use </b>(get details)
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="panelBodyOne4Admin" class="collapse panel-collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                    <br />
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-1 col-xs-offset-1">
                                <div class="h2">
                                    <p>Create A New Admin</p>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>User Name</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="txtUserNameAdmin" type="text" placeholder="Enter UserName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Email ID</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="txtEmailAdmin" type="text" placeholder="Enter your Email ID" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input id="txtPasswordAdmin" type="password" placeholder="Enter your Password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Confirm Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input id="txtConfirmPasswordAdmin" type="password" placeholder="Enter your Confirm Password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Phone Number</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="txtPhoneNumberAdmin" type="text" placeholder="Enter your Phone Number" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-lg-offset-2 col-sm-offset-2 col-xs-offset-5">
                                        <div style="display: none;" id="loaderDivAdmin">
                                            <label>Loading...</label>
                                            <br />
                                            <img src="~/Image/loader1.gif" height="40" width="40" />
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @*Bootstrap alert to display any validation errors*@
                                        <div id="divErrorRegisterAdmin" class="alert alert-danger collapse">
                                            <a id="linkCloseRegisterAdmin" href="#" class="close">&times;</a>
                                            <div id="divErrorTextRegisterAdmin"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input id="btnRegister1Admin" class="btn btn-block" type="button" style="border: 1px solid; border-radius: 30px; outline: none; background-color: #DEEFD7; font-size: 18px" value="Register" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="#panelBodyStudent" data-toggle="collapse" data-parent="#accordion_pic">
                    <b>Registration For Student</b>
                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                </a>
            </div>
        </div>
        <div id="panelBodyStudent" class="collapse panel-collapse">
            <div class="panel-body">
                <div style="background-color: #E8EAED;">
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-10 col-xs-10 col-lg-offset-1 col-xs-offset-1">
                                <div class="well h3 text-center">
                                    <span>BlueSheet</span>
                                </div>
                                <div id="accordion_picStudent" class="panel-group">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#panelBodyTwo2Student" data-toggle="collapse" data-parent="#accordion_picStudent">
                                                    <b>Help Line </b>(+880123456789)
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="panelBodyTwo2Student" class="collapse in panel-collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <a href="#panelBodyOne4Student" data-toggle="collapse" data-parent="#accordion_picStudent">
                                                    <b>How To Use </b>(get details)
                                                    <span class="glyphicon glyphicon-menu-down pull-right"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="panelBodyOne4Student" class="collapse panel-collapse">
                                            <div class="panel-body">
                                                <p>
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                    <br />
                                                    Only this company emplyee can use this application. because you
                                                    have to EmplyeeCode. if you do not have EmplyeeCode, you can't
                                                    login...
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10 col-lg-offset-1 col-xs-offset-1">
                                <div class="h2">
                                    <p>Create A New Blue Sheet Student</p>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>UserName</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="txtUserNameStudent" type="text" placeholder="Enter your UserName" class="form-control" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Email ID</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="txtEmailStudent" type="text" placeholder="Enter your Email ID" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input id="txtPasswordStudent" type="password" placeholder="Enter your Password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Confirm Password</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </span>
                                                <input id="txtConfirmPasswordStudent" type="password" placeholder="Enter your Confirm Password" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group has-success">
                                            <label>Select Join BlueSheet</label>
                                            @Html.DropDownList("SelectJoinSemester", new List<SelectListItem>
                                                {
                                                    new SelectListItem{Text="Fall-20", Value="Fall-20"},
                                                    new SelectListItem{Text="Summer-20", Value="Summer-20"},
                                                    new SelectListItem{Text="Spring-20", Value="Spring-20"},
                                                    new SelectListItem{Text="Fall-19", Value="Fall-19"},
                                                    new SelectListItem{Text="Summer-19", Value="Summer-19"},
                                                    new SelectListItem{Text="Spring-19", Value="Spring-19"}
                                                }, "Select BlueSheet", new { @class = "form-control", @id = "SelectJoinSemesterStudent" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 col-lg-offset-2 col-sm-offset-2 col-xs-offset-5">
                                        <div style="display: none;" id="loaderDivStudent">
                                            <label>Loading...</label>
                                            <br />
                                            <img src="~/Image/loader1.gif" height="40" width="40" />
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        @*Bootstrap alert to display any validation errors*@
                                        <div id="divErrorRegisterStudent" class="alert alert-danger collapse">
                                            <a id="linkCloseRegisterStudent" href="#" class="close">&times;</a>
                                            <div id="divErrorTextRegisterStudent"></div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input id="btnRegister1Student" class="btn btn-block" type="button" style="border: 1px solid; border-radius: 30px; outline: none; background-color: #DEEFD7; font-size: 18px" value="Register" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    window.addEventListener("keydown", checkKeyPress, false);
    function checkKeyPress(key) {
        if (key.keyCode == "13" && $('#panelBodyAdmin').hasClass('in') && $('#txtPasswordAdmin').val() != '' && $('#txtConfirmPasswordAdmin').val() != '') {
            $('#btnRegister1Admin').trigger('click');
            event.preventDefault();         // aita dile page refresh nibe na Enter press korle.
        }
        else if (key.keyCode == "13" && $('#panelBodyStudent').hasClass('in') && $('#txtPasswordStudent').val() != '' && $('#txtConfirmPasswordStudent').val() != '') {
            $('#btnRegister1Student').trigger('click');
            event.preventDefault();         // aita dile page refresh nibe na Enter press korle.
        }
    }
</script>

@*register for admin*@
<script>
    $(document).ready(function () {
        //Close the bootstrap alert
        $('#linkCloseRegisterAdmin').click(function () {
            $('#divErrorRegisterAdmin').hide('fade');
        });

        // Save the new user details
        $('#btnRegister1Admin').click(function () {
            $('#loaderDivAdmin').show();
            $.ajax({
                url: '/api/account/AdminRegister',
                method: 'POST',
                data: {
                    userName: $('#txtUserNameAdmin').val(),
                    email: $('#txtEmailAdmin').val(),
                    password: $('#txtPasswordAdmin').val(),
                    confirmPassword: $('#txtConfirmPasswordAdmin').val(),
                    phoneNumber: $('#txtPhoneNumberAdmin').val()
                },
                success: function () {
                    swal("Registration Successful!", "Thank You For Registration. Now You Can Login.", "success");
                    $('#divErrorRegisterAdmin').hide();
                    $('#loaderDivAdmin').hide();
                },
                error: function (jqXHR) {
                    $('#divErrorTextRegisterAdmin').text(jqXHR.responseText);
                    $('#divErrorRegisterAdmin').show('fade');
                    $('#loaderDivAdmin').hide();
                }
            });

        });
    });
</script>

@*register for student*@
<script>
    $(document).ready(function () {
        //Close the bootstrap alert
        $('#linkCloseRegisterStudent').click(function () {
            $('#divErrorRegisterStudent').hide('fade');
        });

        // Save the new user details
        $('#btnRegister1Student').click(function () {
            $('#loaderDivStudent').show();
            $.ajax({
                url: '/api/account/BlueSheetRegister',
                method: 'POST',
                data: {
                    userName: $('#txtUserNameStudent').val(),
                    email: $('#txtEmailStudent').val(),
                    password: $('#txtPasswordStudent').val(),
                    confirmPassword: $('#txtConfirmPasswordStudent').val(),
                    joinSemester: $("#SelectJoinSemesterStudent option:selected").val()
                },
                success: function () {
                    swal("Registration Successful!", "Thank You For Registration. Now You Can Login.", "success");
                    $('#divErrorRegisterStudent').hide();
                    $('#loaderDivStudent').hide();
                },
                error: function (jqXHR) {
                    $('#divErrorTextRegisterStudent').text(jqXHR.responseText);
                    $('#divErrorRegisterStudent').show('fade');
                    $('#loaderDivStudent').hide();
                }
            });

        });
    });
</script>

