@{
    ViewBag.Title = "Home Page";
}

<div class="container">

</div>

<h1> Hosted by Redwan Hossain</h1>

<video width="320" height="240" controls>
    <source src="Mission Mangal _ Naturalbd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<video width="320" height="240" controls>
    <source src="Marjaavaan _ Naturalbd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<video width="320" height="240" controls>
    <source src="Saaho _ Naturalbd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<video width="320" height="240" controls>
    <source src="Chhapaak _ Naturalbd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>