
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <br />
    <div class="container">
        <div class="row" align="center">
            <div class="col-lg-12">
                <h3>Hosted By Redwan</h3>
            </div> 
        </div>
        <br />
        <div class="row">
            <marquee behavior="alternate">
                <div class="row" align="center">
                    <div>
                        <span style="color:red" class="h2">I Love You Tresha</span>
                        <br />
                        <span>U R My Soulmate</span>
                    </div>
                </div>
            </marquee>
        </div>
        <br /><br />
        <div class="row" align="center">
            <div class="col-md-6 col-lg-6">
                <video width="420" height="240" controls style="border-radius:10px">
                    <source src="Mission Mangal _ Naturalbd.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h4>Mission Mangal</h4>
            </div>
            <div class="col-md-6 col-lg-6">
                <video width="420" height="240" controls style="border-radius:10px">
                    <source src="Saaho _ Naturalbd.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h4>Saaho</h4>
            </div>
        </div>
        <br />
        <div class="row" align="center">
            <div class="col-md-6 col-lg-6">
                <video width="420" height="240" controls style="border-radius:10px">
                    <source src="Marjaavaan _ Naturalbd.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h4>Marjaavaan</h4>
            </div>
            <div class="col-md-6 col-lg-6">
                <video width="420" height="240" controls style="border-radius:10px">
                    <source src="Chhapaak _ Naturalbd.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h4>Chhapaak</h4>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
