/* this thas the default windwos color scheme*/	
BODY {
        FONT-FAMILY: Verdana,Arial,Helvetica
}
A {
	COLOR: #0000ff; FONT-SIZE: x-small; TEXT-DECORATION: underline;
}
A:hover {
	FONT-SIZE: x-small; COLOR: #ff3300; TEXT-DECORATION: none;
}
A:visited {
	FONT-SIZE: x-small; COLOR: #800080
}
TD.content {
	FONT-SIZE:x-small; 
	COLOR: #000000; 
	vertical-align:middle; 
	TEXT-DECORATION:none;
}
TD.header {
	FONT-SIZE: x-small; 
	FONT-WEIGHT: bold; 
	COLOR: #000000; 
	TEXT-DECORATION: none;
}
/* this is used for set the backgroud color of the left nav bar */
.navback {
   background-color: #ffffff;
}
/* this is used to set the grey color inside the content table */ 	
.valuecell {
  background-color: #ffffff;
}
.valuetext {
  color: #000000;
	font-weight: bold;
	font-size: small;
}

	.valuetextsmall {
	    color: #000000;
		font-size: x-small;
		}
		.valuetextsmaller {
	    color: #000000;
      font-size:xx-small;
      vertical-align: middle;
		}
    

	.datacell  {
		background-color: #FFFFFF;
		}
		
	.datacell2  {
		background-color: #EEEEEE;
		}
    
/*
drupal  : #c4b9fd 336699 --> #c4b9fd (purple)
drupal  : #739ECE --> #3A6EA5 --> 8CAFDF
3A6EA5 739ECE 8CAFDF
gator   : #FF6600 --> #002084
green   : #99cc00 --> #009900 -> 99cc66
logo green: #006D4E --> #004E2B --> EDE7AD (yellowish)
maroon  : #8B0000 --> #696969
navy    : #335577 --> #558866
standard: #084377 --> 3A6EA5 --> #1B89BF

*/
.bestowerlightgreen 
{
	background-color: #006D4E;
	vertical-align:middle;
}
.bestowerlightgreentext 
{
	color: #006D4E;   
	font-size:small ;
    
}

.titletext {
	color: #004E2B;
    font-weight: bold;
	font-size:x-large;
}

.bestowergreen 
{
	background-color: #004E2B;
	vertical-align:middle;
}

.bestowergreentext 
{
	color: #004E2B;   
	font-size:small;
    
}

.bestoweryellow 
{
	background-color: #EDE7AD;
	vertical-align:middle;
}
.bestoweryellowtext 
{
	color: #EDE7AD;   
	font-size:small;
    
}


.headerbannercell 
{
	background-color: #006D4E;
	vertical-align:middle;
}
.bannercell 
{
	background-color: #006D4E;
	vertical-align:middle;
}

.lightblue 
{
	background-color: #8CAFDF;
	
}

.bannertext 
{
	color: #ffffff;   
	font-size:x-small;
    FONT-WEIGHT: bold;
}
.lightbannercell 
{
	background-color: #006D4E;
	vertical-align:top;
}
.lightbannertext 
{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	font-size: x-small;
}

.footerbannercell 
{
	background-color: #EDE7AD; /* EDE7AD E9DDB5 FAE29C */
	vertical-align:top;
}

.summarybannercell 
{
	background-color: #6B6B6B;
	vertical-align:middle;
}

/* this is used to set the table header */ 	
.theader {
  /*background-color: #336699;*/
  background-color: #c4b9fd;
}
.theadertext {
	/*color: #ffffff;*/
  color: #000000;
  font-weight: bold;
	font-size:x-small;
}

.copyright {
	color: gray;
	text-decoration: none;
  font-size:xx-small;
}

#title   {
	color: #006D4E; /*black*/
	font-size:xx-large;
	font-family: Arial, Helvetica, Geneva, Sans-Serif !important;
	/*font-weight: bold;*/
	text-align: left;
	/*text-transform: uppercase;*/
	padding-top: 1px;
	padding-left: 10px;
	float: left
	}


	
#author   {
	color: yellow;
	font-size: small;
	font-family: Arial, Helvetica, Geneva, Sans-Serif !important;
	padding-top: 45px;
	padding-right: 10px;
	height: 50px;
	float: right
	}

.errortext 
		{
		color: red;
		font-weight: bold;
		font-size: smaller;
		}
		
  .border_bottom_right {
	border:1px;
	border-bottom-style:dotted;
	border-right-style:dotted;
	border-color:#999999;
    color: #000000;
    font-size: x-small;
  }
  .border_bottom {
	border:1px;
    border-bottom-style:dotted;
	border-color:#999999;
    color: #000000;
    font-size: x-small;

  }
  .border_right {
	border:1px;
	border-right-style:dotted;
	border-color:#999999;
    color: #000000;
    font-size: x-small;

  }
  
.sumbannercell 
{
	background-color: #B5B5B5;
	vertical-align:middle;
}
.sumlightbannercell 
{
	background-color: #6B6B6B;
	vertical-align:top;

}
.popUpText  {
	color: #000000;
	font: 10px/12px "Trebuchet MS", Arial, Helvetica, Geneva, sans-serif;
	background-color: #ffffff;
	padding: 5px;
	border: solid 1px #000000;

	}

.popupControl{
	background-color:White;
	position:absolute;
	visibility:hidden;
}