.collapsePanel {
	height:0px;
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeader{	
	font-weight:bold;
	COLOR: #0000ff; FONT-SIZE: x-small; TEXT-DECORATION: none;
	/*float:left; */
	/*padding:5px; */
	cursor: pointer; 
	vertical-align: middle;
}

.collapsePanelFAQ 
{
    color:purple;
	height:0px;
	background-color:white;
	overflow:hidden;
}

.collapsePanelHeaderFAQ{	
	font-weight:bold;
	COLOR:blue; FONT-SIZE: x-small; TEXT-DECORATION:none;
	/*float:left; */
	/*padding:5px; */
	cursor: pointer; 
	vertical-align: middle;
}

.faqContent{	
	COLOR: #0000ff; 
	FONT-SIZE: x-small; 
	TEXT-DECORATION: none;
	vertical-align: middle;
}
